:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header a {
  color: white;
}

a {
  text-decoration: inherit;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}